# Windows
Thumbs.db
[Dd]esktop.ini

# macOS
.DS_Store

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# JetBrains IDEs
.idea

# Dependency directories
node_modules

# Build output
dist
release

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

.eslintcache
